.label, .field, .button {
    -fx-font-size: 20px;
}

.button {
    -fx-min-width: 120px;
    -fx-background-color: #65c9ff;
    -fx-background-radius: 60px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4995c5;
    -fx-cursor: hand;
}

.table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: #c3e3fc;
}

.table-row-cell:even {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #0077cc;
}

.column-header {
    -fx-background-color: #65c9ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button-remove {
    -fx-min-width: 80px;
    -fx-background-color: #f13f3f;
    -fx-text-fill: white;
}

.button-remove:hover {
    -fx-background-color: #a22323;
    -fx-cursor: hand;
}