.label, .field, .button {
    -fx-font-size: 20px;
}

.button {
    -fx-min-width: 120px;
    -fx-background-color: #65c9ff;
    -fx-background-radius: 60px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4995c5;
    -fx-cursor: hand;
}